SECRET_KEY="add your django secret key "

DEBUG="must be bool"

#Database configs
DATABASE_NAME="ADD YOUR DATAS"
DATABASE_USER="ADD YOUR DATAS"
DATABASE_PASSWORD="ADD YOUR DATAS"
DATABASE_HOST="ADD YOUR DATAS"
DATABASE_PORT="ADD YOUR DATAS"